header {
    display: flex;
    padding: 0 5rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: beige;
}

nav a{
    margin: 0 10px;
    color:indianred;
}

nav a:hover {
    color: rgb(54, 104, 255)
}